/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */
.clearfix{
  content: '';
  display: table;
  clear: both;
}

/* Regole Generali Struttura Body */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background-color: #121212;
  list-style: none;
  text-decoration: none;
  color: rgb(198, 188, 168);
}
/* Fine Regole Generali Struttura Body */

/* Inizio stile elementi barra di navigazione */
header {
    position: fixed;
    background-color: #121212;
}
nav {
  padding: 20px 90px;
  height: 90px;
}
.opening_link {
  position: relative;
}
.list-style {
  list-style: none;
  line-height: 80px;
}

.list-style li {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.2em;
}
.list-style li:hover a {
  color: white;
}

a {
  text-decoration: none;
  color: #b9b6b6;
}
.nav_left .list-style li:nth-child(2n) a {
  color: #B9B6B6;
  font-weight: bold;
}
.nav_left img {
  width: 140px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.app_download_btn {
  border-radius: 50px;
  padding: 10px 40px;
  background-color: #f53eac;
  border: 1px solid #f53eac;
  color: #ffffff;
}
.app_download_btn:hover {
  background-color: #a73078;
  border: 1px solid #a73078;
  cursor: pointer;
}
.dropdown_list {
  list-style: none;
  line-height: 70px;
  width: 250px;
  text-align: left;
}
.dropdown_list li {
  display: block;
}
.dropdown .dropdown_list li a {
    color: #f53eac;
}
.dropdown .dropdown_list li:hover a {
  color: #a73078;
}

.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 50px;
  filter: drop-shadow(2px 2px 2px rgba(199, 199, 199, 0.81));
  background-color: #1F1B24;
  white-space: nowrap;
}
.active {
  display: block;
}
/* Fine stile elementi barra di navigazione */

/* Inizio prima sezione descrizione generale prodotto */
.trailer {
  width: 100%;
  padding: 0 80px;
}

h1 {
    font-size: 4.5rem;
    padding-bottom: 50px;
}

p {
    font-size: 1.5rem;
}

.trailer .presentation {
    float:left;
    padding-top: 25%;
    width:50%;
}
.trailer .money_change{
    padding-bottom: 40px;
}
.trailer .logo{
    float:left;
    padding-top: 10%;
    width:50%;
}
.tab-number .prefix {
    margin-right: 10px;
    padding: 0 20px;
}
.tab-number .telephone{
    margin-right: 10px;
    padding: 0 20px;
}
.cashdraw {
    padding-top: 40px;
}
/* Fine prima sezione descrizione generale prodotto *

/* Inizio Seconda parte del Main */

/* Titolo seconda parte*/
.second-title{
    text-align: center;
    padding-top: 20px;
}
.second-title h2{
    font-size: 3.5em;
}
.logo{
    transition-delay: 2s;
}

/* .flex-item{
    height: 100%;
    margin: 0px;
    float: left;
}

.flex-image-stock .flex-item{
    flex-basis: calc(100% / 6);
} */

/* .flex_item {
  padding: 10px;
}
.flex_item img {
  width: 100%;
} */
/* Fine Titolo seconda parte */

/* Prima parte descizione servizi Revolut */
.conteiner-1 {
    width: 100%;
    padding: 20px 80px;
}

h2{
  font-size: 2rem;
  padding-bottom: 80px;
}

li{
   padding-bottom: 40px;
   list-style: none;
   font-size: 1.2rem;
}

.conteiner-1 .phone-1 {
    float:left;
    width:50%;
}

.main-class {
    padding-top: 10%;
    font-size: 1.2rem;
}
/* Fine Prima parte descizione servizi Revolut */

/* Inzio seconda parte descizione servizi Revolut */
.conteiner-2  {
    float: left;
    width: 60%;
    padding: 50px 80px;
}

h2{
  font-size: 2rem;
  padding-bottom: 80px;
}

li{
   padding-bottom: 40px;
   list-style: none;
   font-size: 1.2rem;
}

.second-list{
    padding-top: 15%;
}

.phone-2 {
    margin-top: 20%;

}

/* Fine seconda parte descizione servizi Revolut */

/* Inzio terza parte descizione servizi Revolut */
.conteiner-3 {
    width: 100%;
    padding: 20px 80px;
}

h2{
  font-size: 2rem;
  padding-bottom: 80px;
}

li{
   padding-bottom: 40px;
   list-style: none;
   font-size: 1.2rem;
}

.conteiner-3 .phone-3 {
    float:left;
    width:50%;
}
/* .main-class-terza{
    margin-top: 20%;
} */

.third-list {
    padding-top: 10%;
    font-size: 1.2rem;
}
/* Fine terza parte descizione servizi Revolut */


/* Fine Seconda parte del Main */
