/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* Regole Generali Struttura Body */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background-color: #121212;
  list-style: none;
  text-decoration: none;
}
/* Fine Regole Generali Struttura Body */
/* Inizio stile elementi barra di navigazione */
header {
    position: fixed;
    background-color: #121212;
}
nav {
  padding: 25px 85px;
  height: 90px;
}
.opening_link {
  position: relative;
}
.list-style {
  list-style: none;
  line-height: 80px;
}

.list-style li {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.2em;
}
.list-style li:hover a {
  color: white;
}

a {
  text-decoration: none;
  color: #b9b6b6;
}
.nav_left .list-style li:nth-child(2n) a {
  color: #B9B6B6;
  font-weight: bold;
}
.nav_left img {
  width: 150px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.app_download_btn {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #f53eac;
  border: 1px solid #f53eac;
  color: #ffffff;
}
.app_download_btn:hover {
  background-color: #a73078;
  border: 1px solid #a73078;
  cursor: pointer;
}
.dropdown_list {
  list-style: none;
  line-height: 70px;
  width: 250px;
  text-align: left;
}
.dropdown_list li {
  display: block;
}
.dropdown .dropdown_list li a {
    color: #f53eac;
}
.dropdown .dropdown_list li:hover a {
  color: #a73078;
}

.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 50px;
  filter: drop-shadow(2px 2px 2px rgba(199, 199, 199, 0.81));
  background-color: #1F1B24;
  white-space: nowrap;
}
.active {
  display: block;
}
/* Fine stile elementi barra di navigazione */
.trailer {
  /* float:left; */
  height: 50%;
  width: 100%;
  padding: 0 80px;
  color: rgb(198, 188, 168);
}

h1 {
    font-size: 4.5rem;
    padding-bottom: 50px;
}

p {
    font-size: 1.5rem;
}

/* span {
    float: right;
    margin: 10px;
} */

.trailer .presentation {
  padding-top: 25%;
  width:50%;
}
.trailer .presentation li {
  display: block;
  margin: 8% 0;
}
.trailer .presentation .button {
  padding: 1.5em;
  border-radius: 70px;
}

/* .trailer .presentation .logo {
    position: absolute;
    width: 10%;
    height: 400px;
    z-index: auto;

} */

.trailer .presentation. label {
    width: 100%;
    min-height: 3rem;
    padding-top: 16px;
    line-height: 2.5em;
    color: #B9B6B6;
    text-align: center;
    background: transparent;
    border-radius: 10px;
    /* min-height: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    z-index: 1; */
    /* display: flex;
    flex-direction: column;
    min-height: 5.5rem;
    transition: opacity 0s ease 0s; */
}
